/* ---------- root variables ---------- */
body {
  color: var(--text-color-dark);
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--green);
}

.page {
  min-height: calc(100vh - 58px - 2em);
  padding: 1em;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--text-color-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- nav styling ---------- */
nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 0.5rem;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ebebeb;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #ebebeb;
  color: black;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.grid-container > article {
  margin: auto;
  display: block;
  width: 300px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 15px;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 grey;
}

.grid-container > article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ---------- form styling ---------- */

form {
  margin: auto;
  text-align: center;
  max-width: 380px;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: auto;
  max-width: 350px;
}

form button a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: white;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #b9f5d3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 3em auto 0;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
}

button:hover {
  background-color: #6ecd6b;
  padding: 12px 15px;
  font-size: 1em;
  max-width: 350px;
}

button.button {
  background-color: #6ecd6b;
  color: white;
  margin-bottom: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

button.button::after {
  content: "\002B";
  font-size: 1rem;
  margin-left: 20px;
}

button.button-delete {
  background-color: #9c5452;
  content: "\2212";
  color: white;
  margin-bottom: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

button.button-delete::after {
  content: "\2212";
  font-size: 0.8rem;
  margin-left: 10px;
}

button.button-fixed {
  background-color: #6ecd6b;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 13%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 11;
  width: 80%;
  max-width: 300px;
  height: 50px;
  font-size: 17px;
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  border: solid 1px #c1c1c1;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.image-preview {
  width: 100%;
  max-width: 230px;
  height: 200px;
  object-fit: cover;
  margin: 1em auto;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

form .file-input {
  display: none;
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid #d8e0d8;
  border-radius: 50%;
  border-top: 5px solid #6ecd6b;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- Avatar  ---------- */
.avatar {
  text-align: left;
  position: relative;
  bottom: -13px;
}

.avatar p {
  margin: 0;
}

/* ---------- Profile  ---------- */

.profilePage {
  border-radius: 50px;
}

/* ---------- Øvelser  ---------- */

.ovelser {
  margin: 1em auto;
  width: 80%;
  box-sizing: border-box;
  display: block;
  border: solid 1px #c1c1c1;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

/* ---------- Filter  ---------- */

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

input.checkbox {
  box-shadow: none;
}

/* ---------- opret træningsplan  ---------- */
